.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 200px;
  background-color: #f2f3f8;
  margin: 0 auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main__card-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  margin: 10px;
  padding: 15px;
  width: calc(100% - 20px);
  border: 1px solid #285471;
  border-radius: 20px;
}
