.header {
  display: flex;
  width: 80%;
  margin: 50px auto 0;
  justify-content: space-between;
  align-items: end;
}
.header__nav-bar {
  display: flex;
  gap: 12px;
}
.header__title {
  color: #285471;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
